<div class='page__header-thumbnail'>
  <mp-resource-thumbnail no-image-uri='/images/help/default-thumbnail.png' iri='[[this]]'></mp-resource-thumbnail>
</div>
<div class='page__header-body'>
[[> p:LinktoFeedback]]
  <h1>
    <mp-label iri='[[this]]'></mp-label>
  </h1>

  <!--Image -->
  <semantic-query query='SELECT ?image WHERE { ?? crm:P138i_has_representation $image. ?image a crm:E38_Image. }'
										template='{{#each bindings}}<img style="float:right; max-width:20%" src="{{image.value}}" ></img>{{/each}}'>
    </semantic-query>  
  
  <!-- Identifier -->
  <dl>
    <dt style='float: left; padding-right: 10px; width: 190px;'>URI</dt>
    <dd><a href='[[this]]' style="font-size: 12px;" target='_blank'><i>[[this]]</i>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a><br/>
    <!-- Links  -->    
    <a href='https://rdfvisualizer.acdh-dev.oeaw.ac.at/?resource=[[this]]' style="font-size: 12px;" target='_blank'><i>View in RDF visualizer</i>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
  </dd>
<!-- custom template because there may be many values -->
  [[> "https://parthenos.acdh.oeaw.ac.at/FieldVisualizationAccessibleAt"]]
     
  <!--Types -->    
    <dt style='float: left; padding-right: 10px; width: 190px;'>Type</dt>
    <dd><semantic-query query="SELECT DISTINCT ?type WHERE { ?? [[#if type]][[type]][[else]]a[[/if]] ?type }" style="display:inline;"></semantic-query></dd>
  
  <!--Description -->
  <!-- 2018-10-14, Matej: added crm:hasNote -->
  
    <semantic-query query='SELECT ?description WHERE { ?? [[#if description]][[description]][[else]](crm:P3_has_note|rdfs:comment)[[/if]] ?description } LIMIT 1' 
                    template='{{> descriptionTemplate }}'>
      
       <template id="descriptionTemplate">          
          <span>
              <dt style='float: left; padding-right: 10px; width: 190px;'>Description</dt>
              <dd style='margin-left: 190px;'>
                {{#each bindings}}{{description.value}}{{/each}}                
              </dd>
          </span>
        </template>
    </semantic-query>
    
    
    
      <semantic-query query='SELECT ?source ?api WHERE {
   GRAPH ?g { <[[this]]>  ?predicate ?o.} 
 GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {?g <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api . ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf>	 ?source. }
} LIMIT 1' 
                    template='{{> sourceTemplate}}'>
        <template id="sourceTemplate">          
          <span>
              <dt style='float: left; padding-right: 10px; width: 190px;'>Source</dt>
              <dd style='margin-left: 190px;'>
                {{#each bindings}}{{source.value}} ( {{api.value}} ){{/each}}                
              </dd>
          </span>
        </template>
    </semantic-query>
  </dl>
</div>