<div class="page">


<div class="page__body">

 <h1><i class="fa fa-star"></i> Example pages</h1>

  <h2>Overviews &amp; Statistics</h2>
<ul>
  <li>
    <semantic-link  iri="http://culturaitalia.it/pico/thesaurus/4.1#opere_d_arte_visiva">Thesaurus term: <code>pico:opere_d_arte_visiva</code> with custom listing classified instances.</semantic-link>    
  </li>      
  <li>
    <semantic-link  iri="p:Images">Show items with images</semantic-link>    
  </li>      
  
 </ul>
  
  <h2>Detail Pages</h2>
<ul>
  <li>
    <semantic-link  iri="http://parthenos.d4science.org/handle/Parthenos/REG/ubj4prec2q7o">Parthenos Consortium [PE25_RI_Consortium]</semantic-link>    
  </li>
      
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/s4xd151s3m0m">Metashare Dataset</semantic-link>
  </li>
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/LRE/LRECatalog/qhw4l458q7n7">Example Dataset: DK-CLARIN Movin Corpus</semantic-link>
  </li>
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/Culturaitalia/ICCUMDI/1hrj7kgq89f76">Example Dataset: Collezione del Museo del Costume e della Moda siciliana (PE24_Volatile_Dataset)</semantic-link>: Showing an image (but having encoding problems)
  </li>
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/t86v53wsez3s">Example Dataset: Nakala Dataset (PE24_Volatile_Dataset)</semantic-link>
  </li>
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/1huzyzt4krnef">Example Dataset: Dyas Catalogue Dataset (PE24_Volatile_Dataset)</semantic-link>: Takes some time but covers a lot of fields (temporal, spatial coverage, etc.)
  </li>
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/Clarin/VLO/rhje58hfza04">Example Dataset: http://hdl.handle.net/11221/90D2-0310-7084-F-9@md=cmdi (PE24_Volatile_Dataset)</semantic-link>: CLARIN dataset
  </li>
  <li>
  <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/u8dico90b6ep">Example Service: DYAS Organizations and Collections Registries</semantic-link>    
  </li>
  <li>
  <semantic-link iri="http://parthenos.d4science.org/handle/Culturaitalia/ICCUMDI/1hre7kx7cwg8m">Example Dataset with Has Part (Persistent Data Object): Collezione archeologica Museo delle Civilta preclassiche della Murgia meridionale</semantic-link>    
  </li>
  <li>
  <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/Dataset/Parthenos%20Policy%20Wizard%20Dataset">Example Dataset with Is Index of: Parthenos Wizard</semantic-link>    
  </li>
  <li>
  <semantic-link iri="http://parthenos.d4science.org/handle/Culturaitalia/ICCUMDI/t87duwkxe983">Dataset with temporal coverage (timespan)</semantic-link>    
  </li>
        <li>
  <semantic-link iri="http://parthenos.d4science.org/handle/Ariadne/AriadnePortal/ts1vhr52ti06">Dataset with date created and modified (Publication and Modification event) as well as temporal coverage (period)</semantic-link>    
  </li>      
  <li>
	    <semantic-link iri="http://parthenos.d4science.org/handle/EHRI/PORTAL/1iauu7kwswgh0">EHRI dataset - creation Event (date, carried out by)</semantic-link>
	  </li>
    <li>
	    <semantic-link iri="http://parthenos.d4science.org/handle/Ariadne/AriadnePortal/trzob39u2an6 ">Ariadne record with some sensible properties (isAbout, dateCreated, rights)</semantic-link>
	  </li>
      
  </ul>
  
</div>

</div>