  <ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Parthenos Top Entities</li>
</ol>


<div class="page">


  
  <div class="page__body">
    <h1> Parthenos Top Entities</h1>
 <p>This page offers direct access to the handcrafted part of the dataset, aiming to capture entities, which where not explicitly registered in any of the sources, but are important for the coherence of the overall dataset. These are for example the actors of the PARTHENOS consortium, i.e. the research infrastructures, the PARTHENOS project consortium itself, as well as various datasets and services, especially the catalogue services which serve as source for the metadata collected from individual partners (e.g. CLARIN VLO metadata catalogue, LRE Map, <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/Service/3E80F492-C030-39DB-B404-A41FA8A2D898 ">Nakala</semantic-link>)</p> 
    
    
    
    <h2>Actors 
    | [[singleValueFromSelect "PREFIX acdh: <http://acdh.oeaw.ac.at/> SELECT (SUM(?actorcnt) as ?cnt_p) WHERE { ?aggactor a acdh:Aggregate; acdh:hasClass <http://www.cidoc-crm.org/cidoc-crm/E39_Actor>; acdh:hasSource ?src; acdh:hasValue ?actorcnt.  FILTER (STRSTARTS(?src,'PARTHENOS'))}" ]] |  
      </h2>
    <semantic-table 
    query='SELECT ?s ?l ?t   WHERE {
  GRAPH ?record { ?s rdf:type ?t. ?s rdfs:label ?l }
  ?t rdfs:subClassOf* crm:E39_Actor.
  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {
    ?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api.
    ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.
    FILTER(STRSTARTS(?source, "PARTHENOS"))    
  }
} LIMIT 100'
></semantic-table>
    
<h2>Services
    | [[singleValueFromSelect "PREFIX acdh: <http://acdh.oeaw.ac.at/> SELECT (SUM(?actorcnt) as ?cnt_p) WHERE { ?aggactor a acdh:Aggregate; acdh:hasClass pe:PE1_Service; acdh:hasSource ?src; acdh:hasValue ?actorcnt.  FILTER (STRSTARTS(?src,'PARTHENOS'))}" ]] |  </h2>
    <semantic-table 
    query='SELECT ?s ?l ?url ?t  WHERE {
  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {
    ?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api.
    ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.
  }
  FILTER(STRSTARTS(?source, "PARTHENOS"))
   ?t rdfs:subClassOf* pe:PE1_Service.
  GRAPH ?record { ?s rdf:type ?t.  ?s rdfs:label ?l. }
  OPTIONAL {?s pe:PP28_has_designated_access_point ?url }
} LIMIT 100'
></semantic-table>

    
<h2>Datasets
  | [[singleValueFromSelect "PREFIX acdh: <http://acdh.oeaw.ac.at/> SELECT (SUM(?actorcnt) as ?cnt_p) WHERE { ?aggactor a acdh:Aggregate; acdh:hasClass pe:PE18_Dataset; acdh:hasSource ?src; acdh:hasValue ?actorcnt.  FILTER (STRSTARTS(?src,'PARTHENOS'))}" ]] | 
    </h2>
    <semantic-table 
    query='SELECT ?s ?t  ?l WHERE {
  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {
    ?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api.
    ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.
  }
  FILTER(STRSTARTS(?source, "PARTHENOS"))
   ?t rdfs:subClassOf* pe:PE18_Dataset.
  GRAPH ?record { ?s rdf:type ?t.  ?s rdfs:label ?l.}
} LIMIT 100'
></semantic-table>

  <h2>Types</h2>
    <p>Overview of number of instances per class under Parthenos Top Entities. (Clicking on the number will open and invoke a corresponding SPARQL query.)</p>
    <semantic-table 
    query='PREFIX crm: <http://www.cidoc-crm.org/cidoc-crm/>

                SELECT ?t (count (distinct ?s) as ?cnt) WHERE {
                  GRAPH ?record { ?s rdf:type ?t. }

                  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {
                    ?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api.
                    ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.
                    FILTER(STRSTARTS(?source, "PARTHENOS"))    
                     }
                        }
                GROUP BY ?t
                ORDER BY DESC(?cnt)'
 			column-configuration='[
               {"variableName":"t", "displayName":"Class"}, 
 							{	"displayName": "Instances", 
    						"cellTemplate": "{{>sparqlCell maintype=t.value cnt=cnt.value}}" 
    						}
             ]'
           >
              <template id="sparqlCell" >
                <div><mp-link target="_blank" url="/sparql" urlqueryparam-query='PREFIX acdh: <http://acdh.oeaw.ac.at/>
                    SELECT DISTINCT ?s ?label ?maintype WHERE {                           
                           BIND (<{{maintype}}> as ?maintype).
                                    GRAPH ?g { ?s a ?maintype .}
                      							OPTIONAL { ?s rdfs:label ?label }
                                    GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> { 
                              ?g <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?source .
                              ?source <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?sourceLabel .
                                        FILTER (STRSTARTS(?sourceLabel, "PARTHENOS"))
                            }
                                }										
                    LIMIT 10'>{{cnt}}</mp-link></div>
              </template>
    
    </semantic-table>
   
    
  
</div>

  </div>

