  <ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li class="active">Curation</li>
</ol>


<div class="page">


<div class="page__body">
<h1>Curation Workbench</h1>

<p>Links to entities "with issues", and experimental or more internal pages, to support the curation, or for testing (functionality or data).</p>
<br/> 
 <p>There is a separate sub-page dedicated to <strong><semantic-link iri="p:CurationPlaces">curation of Places</semantic-link></strong>.</p>
 
  <br/> 
  
  <h2>Special cases of Instances "with issues"</h2>
  <ul>
    <li>
      <semantic-link iri="http://parthenos.d4science.org/handle/MetaShare/MetashareCatalog/tol7ipy8zl10">University of Helsinki (E74_Group)</semantic-link>: Many members with the same name but different identifiers (+ question on disambiugation, there is also <semantic-link iri="http://parthenos.d4science.org/handle/MetaShare/MetashareCatalog/qhvo7m2ovwoh">Helsinki University (E74_Group)</semantic-link>     
    </li>
  <li>
    <semantic-link iri="http://parthenos.d4science.org/handle/Culturaitalia/ICCUMDI/1hv8bhfn4aw50">Example Dataset: Collezione del Miracolo Eucaristico</semantic-link>: Encoding problems
  </li>
 	  <li>
	    <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/Dataset/Ariadne%20Catalogue%20Dataset">Example Dataset: Ariadne%20Catalogue%20Dataset</semantic-link>: A dataset with many "has part" children. Only top 100 are shown. Otherwise the rendering of the detail view would take prohibitively long
	  </li>
    <li><semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/1hbja0uem8111" >Accessible at - Page not found (404)</semantic-link>
    </li>
    <li><semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/1jed5nejhtco2" >Accessible at - Unauthorized (401)</semantic-link>
    </li>
    <li><semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/Dataset/LRE%20Map%20Dataset" >LRE-Map Dataset</semantic-link> does not seem to provide any back link (neither to LRE Map catalogue, nor to original resource):<br/>
     <semantic-link iri="http://parthenos.d4science.org/handle/LRE/LRECatalog/ubgu3e9qep12">DanNet</semantic-link> vs. <a  target="_blank" href="http://lremap.elra.info/?q=DanNet">DanNet in LRE Map</a> which actually features a link <a target="_blank" href="http://www.wordnet.dk/">WordNet.dk</a> </li>
    <li><semantic-link iri="http://parthenos.d4science.org/handle/Clarin/VLO/1hrm0ixlc6sma" >"Pos-Tagging" as Actor</semantic-link>
      seemingly systematic, see       
      <mp-link url="/sparql" urlqueryparam-query='[[getQueryString "https://parthenos.acdh.oeaw.ac.at/container/queryTemplateContainer/entities-per-type-and-source" pKey='"http"' pMaintype="<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>" pSource='"CLARIN"' ]]'>SPARQL</mp-link>.
      
    </li>    
       <li>
        <semantic-link iri="http://parthenos.d4science.org/handle/Parthenos/REG/1huzyzt4krnef">Example Dataset: Dyas Catalogue Dataset (PE24_Volatile_Dataset)</semantic-link> Should cover a lot of fields (temporal, spatial coverage, etc.)
         However the fields on temporal, spatial coverage, etc. are  not available anymore. ?
      </li>
     <li><semantic-link iri="http://parthenos.d4science.org/handle/Clarin/VLO/sl9hf84kun1w" >CLARIN-DK record</semantic-link> with handles (<code>accessible at</code>)
    </li>
    

  </ul>
  
  
  <h2>Test pages</h2>
  
 	<ul>
 		<li><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Testing">Testing </semantic-link> - querying different data sources (<code>&lt;semantic-context></code>) - Matej</li>
  	<li><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Testing2">Testing2</semantic-link>  - use of URL params (MAtej)</li>  
 </ul>
  
</div>

</div>