<ol class="page-breadcrumb">
  <li>
    <semantic-link title="Home" uri='[[resolvePrefix "p:Start"]]'>Home</semantic-link>
  </li>
  <li class="active">
    Documentation
  </li>
</ol>

<div class="page">

  <div class="page__body">

    <bs-row>
      <bs-col sm="1" style="padding-top:10px">
        <!-- <img width="80" style="margin:10px" src="https://parthenos-stats.acdh.oeaw.ac.at/pd_assets/parthenos_logo.png" />  -->
        <i class="fa fa-book fa-4x"></i>
      </bs-col>
      <bs-col sm="6" >
        <div>
          <h1>Documentation</h1>
            <bs-alert bs-style="warning"><strong>Being worked on. See <a href="https://docs.google.com/document/d/14hbh9kWKQAaBk7QMg1aG66wH5i9b8KVJmwQzjl8rFoM/edit#" >PD User Texts gdoc</a>.</strong></bs-alert>
          <p>These pages inform about the functionality of the application and various aspects of the dataset</p>

          <h2>Dataset</h2>
          <p>PARTHENOS Discovery gives access to the metadata records, contributed by its <a href="http://www.parthenos-project.eu/consortium">participating partners</a>, which have been converted into a common semantic model, the <semantic-link title="PARTHENOS Entities Model" uri='[[resolvePrefix "p:DocsModel"]]'>PARTHENOS Entities Model</semantic-link>.</p>
          <p>Under <semantic-link title="Statistics" uri='[[resolvePrefix "p:Statistics"]]'>Statistics</semantic-link> you can get a broad overview of the overall dataset: Which sources contribute what information? How many instances are available per class? How often are certain properties used? etc.</p>
          <p><img alt="Diagram describing the aggregation process" src="https://data.d4science.net/c8PL" /><br /><small>Figure: Diagram of the aggregation process. PARTHENOS Discovery operates on the aggregated and transformed metadata from the individual RIs, which are provided by the central PARTHENOS infrastructure. The datasets are accessed via SPARQL.</small></p>

          <h2>Further documentation</h2>
          <ul>
            <li><semantic-link title="PARTHENOS Entities Model" uri='[[resolvePrefix "p:DocsModel"]]'>PARTHENOS Entities Model</semantic-link></li>
            <li><semantic-link title="Main Features" uri='[[resolvePrefix "p:DocsMainFeatures"]]'>Main Features</semantic-link></li>
            <li><semantic-link title="Data Notebooks" uri='[[resolvePrefix "p:DocsDataNotebooks"]]'>Data Notebooks</semantic-link></li>
            <li><semantic-link title="Developer Documentation" uri='[[resolvePrefix "p:DocsDeveloper"]]'>Developer Documentation</semantic-link></li>
          </ul>
        </div>
      </bs-col>
    </bs-row>

  </div>

</div>