<!-- 
https://parthenos.acdh.oeaw.ac.at/resource/p:Search?action=edit 
-->

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
   <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page">
    <div class="page__header">    
     <div data-flex-layout="row top-center">    
   <div><i class="fa fa-search fa-4x"></i>
    </div>
    <div data-flex-self="size-x1">
       <h2>Search
        [[#if (urlParam "type") ]]
       for <semantic-link iri="[[urlParam "type"]]" ></semantic-link>
      [[else]]
      
      [[/if]]
      </h2>      
       <p>Full-text search with faceting.
        [[#if (urlParam "type") ]]
       Restricted to instances of the class <semantic-link iri="[[urlParam "type"]]" ></semantic-link> and its subclasses.
      [[else]]
      [[/if]]
      </p>
      </div>
    <div>[[> p:LinktoDocs doclink="/resource/p:DocsMainFeatures#search_keyword"]]</div>
     </div>  
    </div>

  <div class="page__body">
<!--
<p> <b>Note:</b> currently  searching in <code>P1_is_identified_by/rdfs:label|rdfs:label|skos:prefLabel</code>. Auxiliary classes like Appletion, Event are ignored. Faceting by type.</p>
    -->
    
 <semantic-search 
                   relations = '{
                   "<https://parthenos.acdh.oeaw.ac.at/source>": [
                     {
                       "kind": "literal",
                       "queryPattern": "
                       {
                        GRAPH ?g { $subject  ?predicate ?o.}  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {?g <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api . ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf>	 ?__literal__. }
                          
                       }
                       "
                     }
                   ]
                 }'
                  
                   search-profile='{ 
                      "categories": [{
                                       "iri": "<http://www.w3.org/2000/01/rdf-schema#Literal>",
                                       "label": "Literal"
                                     },
                                   	{
                                       "iri": "<http://www.w3.org/2000/01/rdf-schema#Resource>",
                                       "label": "Resource"
                                     },
                                   	{
                                       "iri": "<http://www.w3.org/2000/01/rdf-schema#Class>",
                                       "label": "Class"
                                     },
                                   	{
                                       "iri": "<http://www.cidoc-crm.org/cidoc-crm/E39_Actor>",
                                       "label": "E39 Actor",
                                       "thumbnail": "../images/help/thenounproject/noun_1113333.png"
                                     },
                                     {
                                       "iri": "<http://parthenos.d4science.org/CRMext/CRMpe.rdfs/PE18_Dataset>",
                                       "label": "PE18 Dataset",
                                       "thumbnail": "../images/help/thenounproject/noun_1285331.png"
                                     },
                                     {
                                       "iri": "<http://parthenos.d4science.org/CRMext/CRMpe.rdfs/PE1_Service>",
                                       "label": "PE1 Service",
                                       "thumbnail": "../images/help/thenounproject/noun_739855.png"
                                     }
                                  ],
                      "relations": [{
                                     "iri": "<http://www.w3.org/1999/02/22-rdf-syntax-ns#type>",
                                     "label": "type",
                                     "hasDomain": "<http://www.w3.org/2000/01/rdf-schema#Resource>",
                                     "hasRange": "<http://www.w3.org/2000/01/rdf-schema#Class>"
                                   }, 
                                   {
                                     "iri": "<http://www.cidoc-crm.org/cidoc-crm/P129_is_about>",
                                     "label": "about",
                                     "hasDomain": "<http://www.w3.org/2000/01/rdf-schema#Resource>",
                                     "hasRange": "<http://www.w3.org/2000/01/rdf-schema#Resource>"
                                   }, 
                                   {
                                     "iri": "<https://parthenos.acdh.oeaw.ac.at/source>",
                                     "label": "source",
                                     "hasDomain": "<http://www.w3.org/2000/01/rdf-schema#Resource>",
                                     "hasRange": "<http://www.w3.org/2000/01/rdf-schema#Literal>"
                                   }
                                   ]
                    }'
                  >
  
   <!-- 1. search definition -->
  <semantic-search-query-keyword
    domain='<http://www.w3.org/2000/01/rdf-schema#Resource>'
    query='
   prefix crm: <http://www.cidoc-crm.org/cidoc-crm/>
prefix pe: <http://parthenos.d4science.org/CRMext/CRMpe.rdfs/>
prefix skos: <http://www.w3.org/2004/02/skos/core#>
      PREFIX bds: <http://www.bigdata.com/rdf/search#>
      SELECT DISTINCT ?suggestion ?label ?score WHERE {
        ?suggestion (<http://www.cidoc-crm.org/cidoc-crm/P1_is_identified_by>/rdfs:label|rdfs:label|skos:prefLabel) ?label.
        ?suggestion a ?type.
        [[#if (urlParam "type") ]] ?type rdfs:subClassOf* <[[urlParam "type"]]>.
          [[else]]
          FILTER (?type NOT IN (crm:E41_Appellation, crm:E54_Dimension, pe:PE29_Access_Point, crm:E51_Contact_Point, crm:E35_Title, crm:E30_Right, crm:E65_Creation, <http://www.ics.forth.gr/isl/CRMext/CRMdig.rdfs/D7_Digital_Machine_Event>))
          [[/if]]        
        SERVICE <http://www.bigdata.com/rdf/search#search> {
          ?label bds:search ?__uservar__.
          ?label bds:relevance ?score.
          ?label bds:minRelevance "0.2".
          ?label bds:matchAllTerms "true".
        }
      }
      ORDER BY DESC(?score)
    '
                                   search-term-variable="__uservar__" 
                                 escape-lucene-syntax=false
  ></semantic-search-query-keyword>
   
               <div data-flex-layout="row stretch-stretch">
               <div data-flex-self="size-1of3" style="flex: 0 0 20px;">
  
  <semantic-search-facet > </semantic-search-facet>
</div>
  <semantic-search-result-holder>
        <div data-flex-self="md-full">
          
          <semantic-search-result>
            <mp-sparql-result-counts id='query-count'
                                     query="SELECT DISTINCT ?subject {}"
                                     template='{{#if hasLimit}} <bs-alert bs-style="warning">
                                               Showing {{numberOfResults}} of {{totalNumberOfResults}} matches. <strong>Please, refine your search.</strong> </bs-alert>
                                               {{else}}<span> found {{numberOfResults}} matches </span>{{/if}}'>
            </mp-sparql-result-counts>
          </semantic-search-result>
					
          
           <semantic-search-result>
                <semantic-table id='table-result'
                                query='SELECT DISTINCT ?subject WHERE {  }'
                                options='{"showFilter":false, "resultsPerPage":10}'
                                   column-configuration='[
                                      {"variableName": "subject", "displayName": "Subject"}, 
                                      {
                                      "displayName": "Type", 
                                      "cellTemplate": "{{> type-collapse-template}}" 
                                      } ]'
                                                  >
                                               <template id="type-collapse-template">
                                      <div>	      
                                        <semantic-query query="SELECT ?type WHERE { <{{subject.value}}> a ?type}"></semantic-query>
                                      </div>
                                    </template>
                                                  >
                </semantic-table>
					</semantic-search-result>
					
    </div>
    </semantic-search-result-holder>
                 </div>
   </semantic-search>
    
  </div>
  
  
</div>

