<ol class="page-breadcrumb">
  <li>
    <semantic-link title="Home" uri='[[resolvePrefix "p:Start"]]'>Home</semantic-link>
  </li>
  <li class="active">
    <mp-label iri='[[this]]'></mp-label>
  </li>
</ol>

<div class="page">

  <div class="page__body">

    <bs-row>
      <bs-col sm="1" style="padding-top:10px">
        <!-- <img width="80" style="margin:10px" src="https://parthenos-stats.acdh.oeaw.ac.at/pd_assets/parthenos_logo.png" />  -->
        <i class="fa fa-book fa-4x"></i>
      </bs-col>
      <bs-col sm="6" >
        <div>
          <h1>Documentation</h1>
            <bs-alert bs-style="warning"><strong>Being worked on. See <a href="https://docs.google.com/document/d/14hbh9kWKQAaBk7QMg1aG66wH5i9b8KVJmwQzjl8rFoM/edit#" >PD User Texts gdoc</a>.</strong></bs-alert>
          <p>These pages inform about the functionality of the application and various aspects of the dataset</p>
        </div>
      </bs-col>
    </bs-row>

    <h2>Dataset</h2>
    <p>PARTHENOS Discovery gives access to the metadata records, contributed by its <a href="http://www.parthenos-project.eu/consortium">participating partners</a>, which have been converted into a common semantic model, the <semantic-link iri="p:DocsModel">PARTHENOS Entities Model</semantic-link>.</p>
    <p>Under <semantic-link iri="p:Statistics">Statistics</semantic-link> you can get a broad overview of the overall dataset: Which sources contributed what information? How many instances are available per Class? How often are certain Properties used? etc.</p>

	</div>

</div>