<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
  <li>
    <mp-link title="Statistics Overview" url="p:Statistics">Statistics</mp-link>
  </li>          
  <li class="active">
    <mp-label iri='[[this]]'>Providers</mp-label>
  </li>
</ol>


<div class="page">
 
  <div class="page__body">
    <h1>Providers</h1>
  
 <h2> Providers by count of graphs </h2>
    <p>Note: This should correspond to individual files imported</p> 
<semantic-table
             query="SELECT ?source (count (?record) as ?cnt) WHERE {GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api . ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf>	 ?source.}}
GROUP BY ?source
    	
"
             number-of-displayed-rows=50
             column-configuration='[
                {"displayName":"Provider",                               
    							"cellTemplate": "<a href=\"/resource?uri=http%3A%2F%2Fparthenos.acdh.oeaw.ac.at%2FStatistics%2FProvider&provider={{source.value}}\">{{source.value}}</a>" 
    					},                 
               {"variableName":"cnt", "displayName":"Count graphs"}
             ]'
             options='{
               "showFilter":false
             }'
           >
           </semantic-table>
    
    
<h2>Providers by count of triples</h2>
    
        <semantic-chart
    provider="chartjs"
    type="bar"
    query="SELECT ?source (count (?s) as ?cnt_triples) WHERE 
{
  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {
           ?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api . 
           ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.
           }
	GRAPH ?record { ?s ?p ?o }
}
GROUP BY ?source
"
    sets='[{"dataSetName": "Triples per provider", "category": "source", "value": "cnt_triples"}]'
></semantic-chart>

    
<semantic-table
             query="SELECT ?source (count ( ?s) as ?cnt_triples) WHERE 
{
  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api . ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.}
	GRAPH ?record { ?s ?p ?o }
}
GROUP BY ?source
                    ORDER BY DESC(?cnt_triples)
"
             number-of-displayed-rows=50
             column-configuration='[
               {"variableName":"source", "displayName":"Provider"}, 
               {"variableName":"cnt_triples", "displayName":"Count of triples"}
             ]'
             options='{
               "showFilter":false
             }'
           >
           </semantic-table>
  
  
    <h2>Classes per Providers</h2>
    
    <p>See also a <semantic-link iri="https://parthenos.acdh.oeaw.ac.at/Statistics/TopEntitiesSources">special matrix view</semantic-link> of the number of entities divided by the top classes of interest and the providers or sources (the different infrastructures providing data to Parthenos).     </p>
        
<semantic-table
             query="SELECT ?source ?class (count (distinct ?s) as ?cnt_triples) WHERE 
{
  GRAPH <http://www.d-net.research-infrastructures.eu/provenance/graph> {?record <http://www.d-net.research-infrastructures.eu/provenance/collectedFrom> ?api . ?api <http://www.d-net.research-infrastructures.eu/provenance/isApiOf> ?source.}
	GRAPH ?record { ?s a ?class }
}
GROUP BY ?source ?class

"
             number-of-displayed-rows=50
             column-configuration='[
               {"variableName":"source", "displayName":"Provider"}, 
               {"variableName":"class", "displayName":"Class"}, 
               {"variableName":"cnt_triples", "displayName":"Count of distinct entities"}
             ]'
             options='{
               "showFilter":true
             }'
           >
           </semantic-table>
  
    
  </div>
    
  </div>
