<div id="docs-toc" >
  [[> p:LinktoFeedback]]
<!-- <h3 style="border-bottom: 2px solid #222; padding-bottom: 10px; font-size: 2em; margin-bottom: 10px;">Documentation</h3>  -->
  <h3>Index</h3> 
<ul style="list-style: none">    
  <li>Basic</li>
  <li><i class="fa fa-book fa-1x" style="margin-left: 2em; margin-right: 5px;">&nbsp;</i><semantic-link title="How do I use it?" uri='[[resolvePrefix "p:DocsMainFeatures"]]'>How do I use it?</semantic-link></li>
	<li><i class="fa fa-database fa-1x" style="margin-left: 2em; margin-right: 5px;">&nbsp;</i><semantic-link title="What is in the data?" uri='[[resolvePrefix "p:DocsData"]]'>What is in the data?</semantic-link></li>
  <li><i class="fa fa-cog fa-1x" style="margin-left: 2em; margin-right: 5px;">&nbsp;</i><semantic-link title="About the application" uri='[[resolvePrefix "p:DocsApplication"]]'>About the application</semantic-link></li>
  <li>Advanced</li>
  
  <li><i class="fa fa-sitemap fa-1x" style="margin-left: 2em; margin-right: 5px;">&nbsp;</i><semantic-link title="PARTHENOS Entities Model" uri='[[resolvePrefix "p:DocsModel"]]'>PARTHENOS Entities Model</semantic-link></li>
  <li><i class="fa fa-code fa-1x" style="margin-left: 2em; margin-right: 5px;">&nbsp;</i><semantic-link title="Data notebooks" uri='[[resolvePrefix "p:DocsDataNotebooks"]]'>Data notebooks</semantic-link></li>
	<li><i class="fa fa-terminal fa-1x" style="margin-left: 2em; margin-right: 5px;">&nbsp;</i><semantic-link title="Technical stuff" uri='[[resolvePrefix "p:DocsDeveloper"]]'>Technical stuff</semantic-link></li>
</ul>
</div>