<!-- 
https://parthenos.acdh-dev.oeaw.ac.at/resource/p:Search?action=edit 
-->

<ol class="page-breadcrumb">
  <li>
    <mp-link title="Home" url="/">Home</mp-link>
  </li>
   <li class="active">
    Explore Model
  </li>
</ol>

<div class="page">
    <div class="page__header">    
     <div data-flex-layout="row top-center">    
   <div><i class="fa fa-search fa-4x"></i>
    </div>
    <div data-flex-self="size-x1">
       <h2>Explore model        
      </h2>      
       <p>Explore the data based on the underlying ontology the PARTHENOS Entities Model</p>
      </div>
    <div>[[> p:LinktoDocs doclink="/resource/p:DocsMainFeatures#explore_model"]]</div>
     </div>  
    </div>

  <div class="page__body">
  </div>
  
  
</div>

