<div class="page">

  <div class="page__body">

    <bs-row>
    	<bs-col sm="1" >
      	<img width="80" style="margin:10px" src="https://parthenos-stats.acdh.oeaw.ac.at/pd_assets/parthenos_logo.png" /> 
      </bs-col>
    	<bs-col sm="6" >
      	<div >
      		<h1>PARTHENOS Discovery </h1>
      		<p>Your gateway to the PARTHENOS Entities Dataspace. All data created by partner Research Infrastructures is aggregated here, allowing for unprecedented interdisciplinary research opportunities. <semantic-link title="Documentatoin" uri='[[resolvePrefix "p:Docs"]]'>Read more</semantic-link> about the application and the dataset</p>
      	</div>
      </bs-col>
    </bs-row>

    <div style="clear:both" />
    <br/>

    <bs-row>  
    	<bs-col sm="6" >
    		<h2>Explore/Search</h2>  
    		<p>PARTHENOS Discovery offers multiple alternative options to explore the data.</p>
      	<p>The following overview lists the main types from the PARTHENOS data model.</p> 
      	<p>Below, you can <strong>search</strong> for actors, datasets, services, software, projects and places full-text or learn about the main types as defined in the <strong>model</strong>:</p>
      	<p>The numbers indicate how many instances of given type (including subclasses) are there, distinguishing between explicitly created instances and all instances.</p>
    	</bs-col>

      <bs-col sm="6" >
        <h3><semantic-link iri="http://parthenos.acdh.oeaw.ac.at/Search">by keyword</semantic-link></h3> 
       	<p>Full-text search with facetting</p>
        <h3><semantic-link iri="http://parthenos.acdh.oeaw.ac.at/Search">by semantic relations</semantic-link></h3> 
       	<p>Advanced semantic search using query builder</p>
        <h3><semantic-link iri="http://www.cidoc-crm.org/cidoc-crm/E1_CRM_Entity">by model/ontology</semantic-link></h3>
       	<p>Explore the data based on the underlying ontology the <semantic-link title="PARTHENOS Entities Model" uri='[[resolvePrefix "p:DocsModel"]]'>PARTHENOS Entities Model</semantic-link></p>
      </bs-col>
    </bs-row>

    [[> p:MaintypeOverview]]

   	<div style="clear:both" />
    <br/>
    <br/>

    <h2>Highlights</h2>  
    <bs-row>
      <bs-col sm="3" >
      	<div style="text-align:center" >
        <img width="40" style="margin:10px" src="https://parthenos-stats.acdh.oeaw.ac.at/pd_assets/parthenos_logo.png" /> </div>
      	<h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/TopEntities">PARTHENOS Top Entities</semantic-link></h2>  
      	<p>Browse through the manually crafted dataset of top-level entities, such as software and services, which were created within the project (since this data did not previously exist).</p>
    	</bs-col>
    	<bs-col sm="3" >
      	<div style="text-align:center" ><i class="fa fa-star fa-4x"></i></div>
      	<h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Examples">Showcases</semantic-link></h2>  
      	<p>This is a hand curated list of entities-detail views and other specialized pages to highlight specific aspects of the application or the dataset.</p>
    	</bs-col>
    	<bs-col sm="3" >
      	<div style="text-align:center" ><i class="fa fa-image fa-4x"></i></div>
      	<h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Images">Images</semantic-link></h2>  
      	<p>Browse through records featuring an image representation.</p>
    	</bs-col>
    	<bs-col sm="3" >
      	<div style="text-align:center" ><i class="fa fa-map-marker fa-4x"></i></div>
      	<h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/maps_testing">Places</semantic-link></h2>  
      	<p>Browse through geo-referenced records. (Only available for records with geo-coordinates).</p>
    	</bs-col>
    </bs-row>

    <div style="clear:both" />
    <br/>

    <h2>PARTHENOS Discovery Lab</h2>
    <p>This is where you can experiment with the dataset.</p>
    <bs-row>
      <bs-col sm="3" >
        <div style="text-align:center" ><i class="fa fa-search fa-4x"></i></div>
        <h2 style="text-align:center"><mp-link url="/sparql">SPARQL</mp-link></h2>  
        <p>User interface to run any SPARQL query on the underlying dataset.</p>
      </bs-col>
      <bs-col sm="3">
        <div style="text-align:center" ><i class="fa fa-table fa-4x"></i></div>
        <h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Statistics">Statistics</semantic-link></h2>  
        <p>A suite of aggregation queries offering an overview over various aspects of the dataspace.</p>
      </bs-col>
      <bs-col sm="3">
        <div style="text-align:center" ><i class="fa fa-flask fa-4x"></i></div>
        <h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Docs/Notebooks">Data Notebooks</semantic-link></h2>
        <p>Connect to the dataset via a Jupyter Notebook and do your own processing.</p>
      </bs-col>
      <bs-col sm="3">
        <div style="text-align:center" ><i class="fa fa-asterisk fa-4x"></i></div>
        <h2 style="text-align:center"><semantic-link  iri="http://parthenos.acdh.oeaw.ac.at/Curation">Curation</semantic-link></h2>
        <p>Collection of custom pages to run experiments on or to showcase data quality aspects of the dataset.</p>
      </bs-col>
    </bs-row> 

  </div>

</div>