<ol class="page-breadcrumb">
  <li>
    <semantic-link title="Home" uri='[[resolvePrefix "p:Start"]]'>Home</semantic-link>
  </li>
  <li>
    <semantic-link title="Documentation - Main Page" uri='[[resolvePrefix "p:Docs"]]'>Documentation</semantic-link>
  </li>
  <li class="active">
    Developer Documentation
  </li>
</ol>

<div class="page">

  <div class="page__body">

    <bs-row>
      <bs-col sm="1" style="padding-top:10px">
        <!-- <img width="80" style="margin:10px" src="https://parthenos-stats.acdh.oeaw.ac.at/pd_assets/parthenos_logo.png" />  -->
        <i class="fa fa-book fa-4x"></i>
      </bs-col>
      <bs-col sm="6" >
        <div>
          <h1>Developer Documentation</h1>
            <bs-alert bs-style="warning"><strong>Being worked on. See <a href="https://docs.google.com/document/d/14hbh9kWKQAaBk7QMg1aG66wH5i9b8KVJmwQzjl8rFoM/edit#" >PD User Texts gdoc</a>.</strong></bs-alert>
          <p>These page provides information for Developers.</p>

          <p>PARTHENOS Discovery is technically a customisation of the <a href="https://www.metaphacts.com/product">Metaphactory</a> knowledge management platform. Metaphactory provides a customisation mechanism through custom-tailored pages in which predefined components combined with parameterized SPARQL-queries can be used to display data at hand. The set of available components is described in <a href="https://help.metaphacts.com/resource/Help:HTML5Components">Metaphactory help pages</a>.</p>
          <p>All these custom template pages that make up PARTHENOS Discovery are made available in a dedicated GitHub repository: <a href="https://github.com/acdh-oeaw/pd-mp-customisation">https://github.com/acdh-oeaw/pd-mp-customisation</a>.</p>
        </div>
      </bs-col>
    </bs-row>

  </div>

</div>