<ol class="page-breadcrumb">
  <li>
    <semantic-link title="Home" uri='[[resolvePrefix "p:Start"]]'>Home</semantic-link>
  </li>
  <li>
    <semantic-link title="Documentation - Main Page" uri='[[resolvePrefix "p:Docs"]]'>Documentation</semantic-link>
  </li>
  <li class="active">
    Dataset
  </li>
</ol>


<div class="page">

  <div class="page__body">

    <bs-row>
      <bs-col sm="1" style="padding-top:10px">
        <i class="fa fa-database fa-4x"></i>
      </bs-col>
      <bs-col sm="8">
        <div>
          <h1>Dataset</h1>
          <p>PARTHENOS Discovery gives access to the metadata records, contributed by its <a href="http://www.parthenos-project.eu/consortium">participating partners</a>, which have been converted into a common semantic model, the <semantic-link title="PARTHENOS Entities Model" uri='[[resolvePrefix "p:DocsModel"]]'>PARTHENOS Entities Model</semantic-link>.</p>
          <p>Under <semantic-link title="Statistics" uri='[[resolvePrefix "p:Statistics"]]'>Statistics</semantic-link> you can get a broad overview of the overall dataset: Which sources contribute what information? How many instances are available per class? How often are certain properties used? etc.</p>
          <p><img style="max-width:100%" alt="Diagram describing the aggregation process" src="https://data.d4science.net/c8PL" /><br /><small>Figure: Diagram of the aggregation process. PARTHENOS Discovery operates on the aggregated and transformed metadata from the individual RIs, which are provided by the central PARTHENOS infrastructure. The datasets are accessed via SPARQL.</small></p>
        </div>
      </bs-col>
      <bs-col sm="3">
        [[> p:DocsToC]]
      </bs-col>
    </bs-row>

  </div>

</div>