<div>
        {{#each bindings}}
        {{#ifCond cnt.value ">" 0}}
        <dl class="clearfix">
          <dt style="float: left; padding-right: 10px; width: 190px;">Is Index of</dt>
          <dd style="margin-left: 190px"> <span>{{cnt.value}} values, showing 
            {{#ifCond cnt.value ">" 100}}100 {{else}} {{cnt.value}} {{/ifCond}}:</span>
          <semantic-table
            query="
              SELECT ?value WHERE {
                <[[this]]> pe:PP41_is_index_of|^pe:PP41i_is_indexed_by ?value .
                	?value rdfs:label ?label .
                } 
                ORDER BY ?label
                LIMIT 100"
            column-configuration='[
              {"variableName": "value", "displayName": "Indexed"}
              ]'
            number-of-displayed-rows=10
            options='{"showFilter": true}'
          ></semantic-table>
          </dd>
        </dl>
        {{/ifCond}}
        {{/each}}
      </div>